body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(./Multimedia/Obraz.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color : white;
    justify-content: space-between;
    font-size: 20px;
}
a {
    color: inherit;
    text-decoration: none;
    transition-property:all;
    transition:0.2s ease-in-out;
}
a:hover {
    font-size: 20px;
    color:black;
    background-color: #f1f1f1;
    border-radius: 100px;
    padding:10px;
    display: inline-block;
}
.głównytext {
    text-align: center;
    font-size: 20;
    line-height: 0.6;
}
.lewytext {
    color: rgb(59, 59, 59);
    transition-property:all;
    transition:all 0.2s ease-in-out;
    text-align: left;
    font-size: 15;
    line-height: 0.6;
    position:fixed;
}
.lewytext:hover {
    color: aliceblue;
}
.znikające-rzeczy {
    transition: all 0.2s;
    padding: 0%;
}
.znikające-rzeczy:hover {
    opacity: 0;
}
p {
    border-color:white
}
