.strona1 {
    background-image:url(./Multimedia/Tło.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 20px;
    text-align: center;

    animation: wjazd ease-in 1s;
    
    overflow-x: hidden;
    overflow-y: hidden;
}
@keyframes wave {
    0% {
        transform: translate(-50%, -50%);
    }
    50% {
        transform: translate(-45%, -50%);
    }
    100% {
        transform: translate(-50%, -50%);
    }
}
@keyframes wjazd {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    90% {
        opacity: 0.5;
        transform: translateY(-10%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
@keyframes fala1 {
    0% {
        transform: translateX(-10px);
    }
    25% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(10px);
    }
    75% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-10px);
    }
}
.fala:nth-child(2) {
    animation-delay: -0.15s;
}
.fala:nth-child(3) {
    animation-delay: -0.2s;
}
.fala:nth-child(4) {
    animation-delay: -0.25s;
}
.fala:nth-child(5) {
    animation-delay: -0.3s;
}
.fala:nth-child(6) {
    animation-delay: -0.35s;
}
.fala:nth-child(7) {
    animation-delay: -0.4s;
}
.fala {
    animation: fala1 4s linear infinite;
}
a {
    color: black;
    font-size: 30px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
.lewo, .prawo, .środek {
    padding: 30px;
    top: 525px;
    position: fixed;
    transform: translate(-50%, -50%);
}
.prawo {
    left: 75%;
}
.lewo {
    left: 25%;
}
.środek {
    left: 50%;
}
.lewo:hover, .prawo:hover, .środek:hover {
    animation: wave 2s ease-in infinite;
}
.lewo a:hover, .środek a:hover, .prawo a:hover {
    color: white;
}
.obraz1 {   
    transition: 0.5s ease-in;
}
.obraz1:hover {
    background-image: url(./Multimedia/JW.jpeg);
    background-size: cover;

    padding-top: 122.5px;
    padding-bottom: 122.5px;
    padding-left: 200px;
    padding-right: 200px;
    border-radius: 50px;
}
.obraz2 {   
    transition: 0.5s ease-in;
}
.obraz2:hover {
    background-image: url(./Multimedia/mo.jpg);
    background-size: cover;

    padding-top: 122.5px;
    padding-bottom: 122.5px;
    padding-left: 200px;
    padding-right: 200px;
    border-radius: 50px;
}
.obraz3 {   
    transition: 0.5s ease-in;
}
.obraz3:hover {
    background-image: url(./Multimedia/Gwiaździsta_noc.jpg);
    background-size: cover;

    padding-top: 122.5px;
    padding-bottom: 122.5px;
    padding-left: 200px;
    padding-right: 200px;
    border-radius: 50px;
}
/*----------------------------------------------------------------*/


.strona2, .strona2 a {
    background-image:url(./Multimedia/VVG.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

    font-family: Arial, Helvetica, sans-serif;

    color: rgb(255, 255, 255);
    font-size: 16px;
    text-align: center;
    
    animation: pojawianie 2s ease-in;

    overflow-x: hidden;
}
.strona2 h1 {
    font-size: 80px;
}
.strona2 a {
    background: none;
}
@keyframes pojawianie {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.dw {
    font-size: 10px;
    transition: all 0.3s ease-in-out;
}
.dw a:hover {
    color: gray;
}


.link_back a {
    position: fixed;
    bottom: 40px;
    left: 40px;
    padding: 10px;
    transition: all 0.4s ease-in-out;
}
.link_back a:hover {
    position: fixed;
    padding-top: 30%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 80%;
    border-radius: 20px;

    background-image: url(./Multimedia/Tło.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.full-screen {
    padding-top: 30vh;
    margin-bottom: 70vh;
    font-size: 20px
}
.full-screen a {
    font-size: 20px;
}
.full-screen2 {
    padding-top: 30vh;
    margin-bottom: 70vh;
    font-size: 20px
}
.full-screen2 a {
    font-size: 20px;
}
.lewy-box {
    z-index: 9999;
    font-size: 10px;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
}
.lewy-box a {
    padding: 5px;
    display: block;
    text-decoration: none;
    transition: all 0.3s ease-out;
}
.lewy-box a:hover {
    color: gray;
    background: none;
    border-radius: 40px;
    box-shadow: 0 0 10px black;
    transform: translateX(30px);
}


.dziełaa {
    position: absolute;
    display: block;
    transform: translate(-50%, -50%);
    margin-left: 50%;
    margin-top: 200px;
    transition: all 0.4s ease-in-out;
    white-space: nowrap;
}
.Gwiaździsta_noc {
    transition: all 0.4s ease-in-out;
}
.Gwiaździsta_noc:hover {
    background-image: url(./Multimedia/Gwiaździsta_noc.jpg);
    background-position: center;
    background-size: cover;
    padding: 20%;
    border-radius: 20px;
}
.Gwiaździsta_noc a:hover {
    font-size: 18px;
}


.Polne_maki {
    transition: all 0.4s ease-in-out;
}
.Polne_maki:hover {
    background-image: url(./Multimedia/Polne_maki.jpg);
    background-position: center;
    background-size: cover;
    padding: 20%;
    border-radius: 20px;
}
.Polne_maki a:hover {
    font-size: 18px;
}


.Słoneczniki {
    transition: all 0.4s ease-in-out;
}
.Słoneczniki:hover {
    background-image: url(./Multimedia/Słoneczniki.jpg);
    background-position: center;
    background-size: cover;
    padding: 20%;
    border-radius: 20px;
}
.Słoneczniki a:hover {
    font-size: 18px;
}


.Kawiarnia_nocą {
    transition: all 0.4s ease-in-out;
}
.Kawiarnia_nocą:hover {
    background-image: url(./Multimedia/Kawiarnia_nocą.jpg);
    background-position: center;
    background-size: cover;
    padding: 20%;
    border-radius: 20px;
}
.Kawiarnia_nocą a:hover {
    font-size: 18px;
}


.Portret_dr_Gacheta {
    transition: all 0.4s ease-in-out;
}
.Portret_dr_Gacheta:hover {
    background-image: url(./Multimedia/Portret\ dr.\ Gacheta.jpg);
    background-position: center;
    background-size: cover;
    padding: 20%;
    border-radius: 20px;
}
.Portret_dr_Gacheta a:hover {
    font-size: 18px;
}


.Autoportret_z_przyciętym_uchem {
    transition: all 0.4s ease-in-out;
}
.Autoportret_z_przyciętym_uchem:hover {
    background-image: url(./Multimedia/Autoportret\ z\ przyciętym\ uchem.jpeg);
    background-position: center;
    background-size: cover;
    padding: 20%;
    border-radius: 20px;
    white-space: wrap;
}
.Autoportret_z_przyciętym_uchem a:hover {
    font-size: 18px;
}
/*----------------------------------------------------------------*/

.o {
    opacity: 0;
}


.strona3, .strona3 a {
    background-image:url(./Multimedia/Mo_Tło.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

    font-family: Arial, Helvetica, sans-serif;

    color: rgb(255, 255, 255);
    font-size: 16px;
    text-align: center;
    
    animation: pojawianie 2s ease-in;

    overflow-x: hidden;
}
.strona3 h1 {
    font-size: 80px;
}
.strona3 a {
    background: none;
}

.lewy-box2 {
    z-index: 9999;
    font-size: 10px;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
}
.lewy-box2 a {
    color: rgba(255, 255, 255, 0.5);
    padding: 5px;
    display: block;
    text-decoration: none;
    transition: all 0.3s ease-out;
}
.lewy-box2 a:hover {
    color: rgb(255, 255, 255);
    border-radius: 40px;
    transform: translateX(30px);
    box-shadow: 0 0 10px black;
}

/*----------------------------------------------------------------*/

.strona4, .strona4 a {
    background-image:url(./Multimedia/JW-Tło.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

    font-family: Arial, Helvetica, sans-serif;

    color: rgb(255, 255, 255);
    font-size: 16px;
    text-align: center;
    
    animation: pojawianie 2s ease-in;

}
.strona4 h1 {
    font-size: 80px;
}
.strona4 a {
    background: none;
}
@keyframes kolory {
    0% {
        color: rgb(0, 0, 0);
    }

    25% {
        color: rgb(127.5, 127.5, 127.5);
    }

    50% {
        color: rgb(255, 255, 255)
    }

    75% {
        color: rgb(127.5, 127.5, 127.5);
    }

    100% {
        color: rgb(0, 0, 0);
    }
}
.lewy-box3 {
    z-index: 9999;
    font-size: 10px;
    position: fixed;
    top: 0;
    right: 0;
    text-align: center;
}
.lewy-box3 a {
    color: rgba(255, 255, 255, 0.5);
    padding: 5px;
    display: block;
    text-decoration: none;
    transition: all 0.3s ease-out;
}
.lewy-box3 a:hover {
    color: rgb(255, 255, 255);
    border-radius: 40px;
    transform: translateX(-30px);
    box-shadow: 0 0 10px black;
}
.text {
    text-align: left;
    position: absolute;
    top: 10vh;
    left: 10vh;
    color: black;
    padding: 5vh;
    border-radius: 5%;
    box-shadow: 1vh 1vh 3vh rgba(128, 128, 128, 0.5);
    background-color: rgba(128, 128, 128, 0.5);
}
.text a {
    color: black;
    transition:all 0.3s ease-out;
    animation: kolory 5s linear infinite;
}
.text a:hover {
    color: white;
}

.linki_albumy {
    display: inline-block;
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 18%;
}
@keyframes swing {
    0% {
        transform: translateX(0vh);
    }
    25% {
        transform: translateX(-10vh);
    }
    80% {
        transform: translateX(-10vh);
    }
    100% {
        transform: translateX(0vh);
    }
}
#ggr1:target {
    animation: swing 1s;
}
#drfl1:target {
    animation: swing 1s;
}
#lnd1:target {
    animation: swing 1s;
}
#fd1:target {
    animation: swing 1s;
}

.ggr, .death_Race_for_Love, .lnd, .fd {
    transition: 0.4s;
    opacity: 0.2;
    border-radius: 12px
}
.ggr:hover, .death_Race_for_Love:hover, .lnd:hover, .fd:hover {
    opacity: 1;
    transform: translateX(-5vh);
}
.ggr:hover {
    background-color: #1C7FA9;
    box-shadow: 0vh 0vh 3vh #1C7FA9;
}
.death_Race_for_Love:hover {
    background-color: #282828;
    box-shadow: 0vh 0vh 3vh #282828;
}
.lnd:hover {
    background-color: #C74E63;
    box-shadow: 0vh 0vh 3vh #C74E63;
}
.fd:hover {
    background-color: #707880;
    box-shadow: 0vh 0vh 3vh #707880;
}