@import"https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap";

:root {
    --primary-background-color: #121215;
    --secondary-background-color: #19191d;
    --tertiary-background-color: #1c1c21;
    --fff-background-color: #222228;
    --text-color: #e4e4e4;
}

a {
    all: unset;
    cursor: pointer;
}

html {
    background-color: var(--primary-background-color);
    font-family: Inter;
    scroll-behavior: smooth;
    color: #787878;
}

html ::-webkit-scrollbar {
    height: 8px;
    width: 8px
}

html ::-webkit-scrollbar-thumb {
    background-color: var(--secondary-background-color);
}

html ::-webkit-scrollbar-track {
    background-color: var(--primary-background-color);
}

.header {
    font-weight: 600;
    padding-top: 120px;
    padding-left: 12%;
    padding-bottom: 20px;
}

.greetings {
    font-size: 75px;
    font-weight: 600;
    color: var(--text-color);
    padding-bottom: 3.25px;
}

.title {
    font-weight: 600;
    /* max-width: 165px; */
    max-height: 35px;
    font-size: 35px;
    color: var(--text-color);

}

.description {
    padding-top: 2%;
}

.about-me {
    background-color: var(--secondary-background-color);
    display: flex;
    padding-left: 2%;
    padding-top: 1%;
    justify-content: left;
    width: 75%;
    height: 272px;
    border: 1px solid var(--fff-background-color);
    border-radius: 12px;

}

.info {
    padding-top: 1.7%;
    color: var(--text-color);
    font-size: 19px;
    font-weight: 300;
    opacity: .8;
    max-width: 350px !important;
}

.color-text {
    background-image: linear-gradient(to right, #a40808, #00a2ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.discord-status {
    padding-bottom: 7.5px;
    font-weight: 300;
    color: var(--text-color);
    opacity: .8;
}

.spotify-song {
    padding-bottom: 7.5px;
    font-weight: normal;
    color: var(--text-color);
    opacity: .8;
}

.description {
    font-weight: 300;
    color: var(--text-color);
    opacity: .8;
    max-width: 525px;
}

.social-card {
    font-weight: 600;
    padding-top: .5%;
    padding-left: 12%;
    padding-bottom: 20px;
}

.socials-box {
    background-color: var(--secondary-background-color);
    display: flex;
    justify-content: left;
    width: 25%;
    height: 25px;
    border: 1px solid var(--fff-background-color);
    border-radius: 12px;
}

.spotify {
    padding-right: 5px;
}

.github {
    padding-right: 5px;
}

.projects {
    font-weight: 600;
    padding-top: 0.7%;
    padding-left: 12%;
    padding-bottom: 20px;
}

.project-title {
    font-size: 25px;
    font-weight: 600;
    color: var(--text-color);
    padding-top: 1%;
    padding-bottom: 0.5%;
}

.project-description {
    font-weight: 300;
    color: var(--text-color);
    opacity: .8;
    padding-bottom: 1.6%;
}

.bio-page {
    display: flex;
    justify-content: left;
    width: 300px;
    height: 100px;
    border: 1px solid var(--fff-background-color);
    border-radius: 12px;
}

.site-info {
    transition: 0.3s;
    margin-bottom: 20px;
    display: inline-block;
    border-radius: 0.375rem;
    padding: 15px;
    background-color: var(--secondary-background-color);
    border: 1px solid var(--fff-background-color);
    color: var(--text-color);
    width: 450px;
    height: 80px;
    position: relative;
    display: inline-block;
}

.svg-arrow {
    height: 15px;
    width: 15px;
}

.site-description {
    padding-top: 5%;
    font-weight: 300;
    font-size: 12px;
    color: var(--text-color);
    opacity: .8;
    max-width: 250px;
    max-height: 100px;
}